<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4 ">
      <h2 class="text-center">Input:</h2>
      <form>
        <div class="form-group" *ngIf="monteOptions">
          <label for="nInterviews">Number of Interviews</label>
          <input [(ngModel)]="nInterviews" name="nInterviews" type="number" class="form-control" id="nInterviews" placeholder="Enter Number of Interviews">
        </div>
        <div class="form-group">
          <label for="nParticipant">Number of Applicants Each Interview</label>
          <input [(ngModel)]="nParticipant" name="nParticipant" type="number" class="form-control" id="nParticipant" placeholder="Enter Number of Participants Each Interview">
        </div>
        <div class="form-group">
          <label for="percentage">Percentage of Applicants to be Interviewed for a Baseline Score (in %)</label>
          <input [(ngModel)]="percentage" name="percentage" type="number" step="0.0000001" class="form-control" id="percentage" placeholder="Enter Percentage (in %)">
        </div>
      </form>
      <button type="button" class="btn btn-dark m-3" (click)="interviews(false)">Interview</button>
      <button type="button" class="btn btn-danger m-3" *ngIf="monteOptions" (click)="monteWithLoading()">Interview Monte</button>
      <ng-template [ngIf]="(monteOptionsCount >= 5)">
        <p>Hm.., it feels great when you have someone to automate those interviews right? Click the button below to enable Monte Carlo Option!</p>
        <button type="button" class="btn btn-danger m-3" (click)="enableMonteCarlo()">Enable Monte Carlo</button>
      </ng-template>
    </div>
    <div class="col-8">
      <h2 class="text-center">Journals:</h2>
      <div *ngIf="messages.length === 0" class="text-center"><p style="color: red;">You have no entries.<br>Please do an interview by clicking the button on the left</p></div>
      <div class="justify-content-center">
        <div *ngFor="let message of messages" class=" d-flex justify-content-center">
          <div class="card col-8">
            <div class="card-body">
              {{message}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>