<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4 ">
      <h2 class="text-center">Input:</h2>
      <form>

        <div class="form-group">
          <label for="nPlayers">Number of Players</label>
          <input 
            [(ngModel)]="nPlayers" 
            name="nPlayers" 
            type="text" pattern="[0-9]{10}"
            class="form-control" 
            id="nPlayers" 
            placeholder="Enter Number of Players">
        </div>

        <div class="form-group">
          <label for="stamina">Stamina</label>
          <input 
            [(ngModel)]="playerSetting.stamina" 
            name="stamina" 
            type="text" 
            pattern="[0-9]{10}"
            class="form-control" 
            id="stamina" 
            placeholder="Enter Stamina">
        </div>

        <div class="form-group">
          <label for="steps">Steps</label>
          <input 
            [(ngModel)]="playerSetting.steps" 
            name="steps" 
            type="text" pattern="[0-9]{10}"
            class="form-control" 
            id="steps" 
            placeholder="Enter Current Steps">
        </div>

        <div class="form-group">
          <label for="speedLvl">Speed Level </label>
          <span *ngIf="settings.fire == true" class="mx-2">(+1 with CF)</span>
          <select
            [(ngModel)]="stats.speedLvl"
            [ngModelOptions]="{standalone: true}"
            class="form-select">
            <option 
              *ngFor="let option of speedLvlOptions" 
              [value]="option">
              {{option}}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="siphonLvl">Siphon Level</label>
          <select
            [(ngModel)]="stats.siphonLvl"
            [ngModelOptions]="{standalone: true}"
            class="form-select">
            <option 
              *ngFor="let option of siphonLvlOptions" 
              [value]="option">
              {{option}}
            </option>
          </select>
        </div>

        <!-- Catch Rate Estimator -->
        <div>

          <div class="form-group">
            <label for="speedLvl">Trap Power</label>
            <input 
              [(ngModel)]="playerSetting.power" 
              name="power" 
              type="number" step="1"
              class="form-control" 
              id="power" 
              placeholder="Enter Trap Power">
          </div>

          <div class="form-group">
            <label for="speedLvl">Luck</label>
            <input 
              [(ngModel)]="playerSetting.luck" 
              name="luck" 
              type="number" step="1"
              class="form-control" 
              id="luck" 
              placeholder="Enter Luck">
          </div>

        </div>

        <!-- Setting -->

        <div class="form-check form-switch">
          <label class="form-check-label" for="fire">Champion's Fire</label>
          <input 
            class="form-check-input"
            name="fire"
            type="checkbox" 
            id="fire"
            (change)="fire(settings.fire ? 1 : 0)"
            [(ngModel)]="settings.fire">
        </div>

        <div class="form-check form-switch">
          <label class="form-check-label" for="stringStepping">String Stepping</label>
          <input 
            class="form-check-input"
            name="stringStepping"
            type="checkbox" 
            id="stringStepping"
            (change)="stringStepping(settings.stringStepping ? 2 : 1)"
            [(ngModel)]="settings.stringStepping">
        </div>

        <div class="form-check form-switch">
          <label class="form-check-label" for="superSiphon">Super Siphon</label>
          <input 
            class="form-check-input"
            name="superSiphon"
            type="checkbox" 
            id="superSiphon"
            (change)="superSiphon(settings.superSiphon ? 2 : 1)"
            [(ngModel)]="settings.superSiphon">
        </div>

        <div class="form-check form-switch">
          <label class="form-check-label" for="mode">Ultimate Umbra</label>
          <input 
            class="form-check-input"
            name="mode"
            type="checkbox" 
            id="mode"
            [(ngModel)]="settings.mode">
        </div>

        <div class="form-check form-switch">
          <label class="form-check-label" for="ultimateCharm">UC on Eclipse</label>
          <input 
            class="form-check-input"
            name="ultimateCharm"
            type="checkbox" 
            id="ultimateCharm"
            [(ngModel)]="settings.ultimateCharm">
        </div>

      </form>
      <!-- <button *ngIf="enableCRE" type="button" class="btn btn-dark m-3" (click)="hideCRE()">Hide CRE</button>
      <button *ngIf="!enableCRE" type="button" class="btn btn-dark m-3" (click)="showCRE()">Show CRE</button> -->
      <button type="button" class="btn btn-dark m-3" (click)="run()">Run the Simulation</button>
    </div>

    <div class="col-8">
      <h2 class="text-center">Journals:</h2>

      <div *ngIf="messages.length === 0" class="text-center"><p style="color: red;">You have no entries.<br>Please do a simulation by clicking the button on the left</p></div>

      <div *ngIf="messages.length > 0" class="text-center">
        <!-- <button type="button" class="btn btn-outline-primary m-3" (click)="seeStepsData()">See based on steps</button> -->
        <button type="button" class="btn btn-outline-primary m-3" (click)="seeDetailedData()">Detailed</button>
        <button type="button" class="btn btn-outline-primary m-3" (click)="seeFloorData()">See based on floors</button>
        <button type="button" class="btn btn-outline-primary m-3" (click)="seeEclipseData()">See based on Eclipse</button>
      </div>

      <!-- shows info -->
      <div *ngIf="isDetailed" class=" d-flex justify-content-center">
      </div>

      <div class="justify-content-center">
        <div *ngFor="let message of messages" class=" d-flex justify-content-center">
          <div class="card col-8">
            <div class="card-body">

              <!-- for floors/TE -->
              <span *ngIf="!isDetailed" [innerHTML]="message"></span>

              <!-- for detailed -->
              <div *ngIf="isDetailed">
                Hunt {{message.hunt}} - 
                <span *ngIf="message.res == 'MISSED'" style="font-weight: bold; color: red;">
                  {{message.res}}
                </span>
                <span *ngIf="message.res == 'CAUGHT'" style="font-weight: bold; color: green;">
                  {{message.res}}
                </span>
                <b>{{message.mouse}}</b>, I advance <b>{{message.advancement}}</b> steps
                <br>
                stamina: <b>{{message.stamina}}</b>,
                currentFloor: <b>{{message.floors}}</b>, 
                currentSteps: <b>{{message.steps}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>