

<!--  navbar-light bg-light -->
<div class="row">
  <div class="col-1"><img src="https://angular.kr/assets/images/logos/angular/angular.svg" height="50px" width="50px"></div>
  <div class="col"><h1>Mousehunt Monte Carlo Calculator</h1></div>
</div> 
<nav class="navbar justify-content-center">
  <a class="navbar-brand col-1 text-center" 
    routerLink="/vrift" 
    routerLinkActive="active-link">Valour Rift</a>
  <a class="navbar-brand col-1 text-center" 
    routerLink="/dlu-dhu" 
    routerLinkActive="active-link">DLU/DHU</a>
  <a class="navbar-brand col-1 text-center" 
    routerLink="/about" 
    routerLinkActive="active-link">About</a>
</nav>


<router-outlet></router-outlet>